*{
    background-color: black;
    color: aliceblue;
}

h1{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}